/* CSS Document */
/* CSS Document */

@media screen and (max-width: 768px) {
  body { padding-top: 63px; }
}
a{
	color:#E83135;
}

.barra{
	background-image:url(../img/bg.png);
	background-color:#FF1C1F;
}

th{text-align:center;}
